html,body{background: #f5f5f5!important;}
.logo_encar{
		width: 100%;
		margin-top:13px;
		padding:10px;
    display: flex;
    align-items: center;
}

iframe{
	display: none;
}

.m-0{
	margin:0;
}

.p-0{
	padding:0;
}


.p-10{
	padding:10px;
}

.p-r-15{
	padding-right:15px;
}

.tabs-item{
	display: none;
}


.tabs-item.show{
	display: block;
}

.dx-toolbar-before > .dx-toolbar-label > .dx-item-content{
	font-size:14px;
	font-weight: bold;
}

.box-logo{
		width: 95px;
    height: 95px;
    background-color: #fff;
    position: absolute;
    border-radius: .4em;
		text-align: cener;
		vertical-align: middle;
    margin-left: 30px;
    top: 10px;
    z-index: 99;
    border: 4px solid #ddd;
}

.box_logo:hover{
	width: 130px;
	padding-top: 10px;
	height: 130px;
	background-color: rgba(236, 233, 233, 0.87);
}

.header_encar{
	width: 100%;
	height: auto;
	z-index: 99;
	box-shadow: 0 0px 5px rgba(0,0,0,0.37);
}

.x-nav-fixed{
	position: fixed;
	z-index: 1001;
	top:10px;
	right:40px;
	left:160px;
}

.x-nav-menu{
	background: #0fb8ad;
	max-width: 600px;
	width: auto;
	display:inline-block;
}
.x-nav-menu-col{
	clear:both;
	display: block;
	width:200px;
}
.x-nav-menu-item{
	display: block;
	padding:7px 12px;
	font-size:12px;
	float:left;
	clear:both;
	width:200px;
}
span.x-nav-menu-item{
	color:#dadada;
	border-top:0.2px solid #13c8bc;
	border-bottom:0.2px solid #13c8bc;
}
a.x-nav-menu-item{
	color:#fff;
}

a.x-nav-menu-item:hover{
	background: #10a89e;
}

.x-header-panel{
	height: 45px;
}
.x-body-panel{
	height: calc(100% - 45px);
}

.x-nav-item{
	display:inline-block;
}

.x-title{
	padding:5px;
	font-size: 14px;
	font-weight: bold;
}

.content_encar{
	position: absolute;
	top: 110px;
	left:10px;
	right:10px;
	bottom: 10px;
	overflow-y: hidden;
	font-size: 13px;
	background: #fff;
	padding:10px;
	border-radius:3px;
	box-shadow: 0 0px 1px rgba(0,0,0,0.16);
}
.panel-body{
	position: relative;
}

.x-table{
	border:2px solid #F2F4F7;
	height: 100%;
	display:block;
}

.panel-header-encar{
	width: 100%;
	height: 50px;
	position: fixed;
	top:90px;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	color: #fff;
	font-size: 12px;
	padding: 2px;
	padding-left: 20px;
	overflow-y: hidden;
}

.header_table{
	font-size: 10px
}

.row_encar{
	margin: 0;
    height: 100%;
    position: relative;
}

.text-center{
	min-width: 30px!important;
}

.icon-terima{
	color:#00cc00;
	font-size:20px;
	font-weight: bold;
}


.table-field{
	border:0;
}
.table-field td{
	padding-bottom:5px;
	min-width:100px;
}

.table-field td.label{
	font-weight: 500;
}


.table-bordered{
	width: 100%;
	font-size:12px;
	border:2px solid #ddd;
	border-collapse: collapse;
}
.table-bordered th{
	border:1px solid #ddd;
	background: #f5f5f5;
	font-weight: bold;
	padding:5px;
}

.table-bordered td{
	border:1px solid #ddd;
	padding:5px;
	font-size:11px;
	background: #fff;
}


.tabs-footer .dx-button:hover{
	background-color: #e6e6e6;
	border-color: #bebebe;
	color:#333;
}

.dx-button.dx-button-yellow{
	background-color: #FF9800;
	color:#fff;
}

.dx-button.dx-button-green{
	background-color: #4caf50;
	color:#fff;
}


.table-bordered tbody{
	max-height: 120px;
	height: 120px;
	overflow: hidden;
	overflow-y: auto;
  display:block;
	background: #f5f5f5;
}
.table-bordered thead, .table-bordered tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

.green{
	font-weight: 300;
    font-size: 0.8em;
    color: #fff;
    background-color: #00cc00;
    border-radius: 2px;
    padding: 2px 6px;
}

.blue{
	font-weight: 300;
    font-size: 0.8em;
    color: #fff;
    background-color: #3399ff;
    border-radius: 2px;
    padding: 2px 6px;
}


.yellow{
	font-weight: 300;
    font-size: 0.8em;
    color: #fff;
    background-color: #ffcc00;
    border-radius: 2px;
    padding: 2px 6px;
}

.orange-text{
	color: #ff9900;
}

.red-text{
	color: #ff0000;
}

.header-modal{
	width: auto;
	height: 50px;
	background: #f2f2f2;
	border-radius: .2em;
}

.title-modal{
	font-size: 16px;
	font-weight: 600;
	position: absolute;
	top: 10px;
	left: 10px;
	vertical-align: middle;
}

.footer-modal{
	width: auto;
	height: 50px;
	background: #f2f2f2;
	border-radius: .2em;
	padding: 5px;
}

.content-modal{
	width: 100%;
	height: 100%;
	padding: 10px;
}

.close-model{

}

.close-modal>span{
	font-size: 30px;
    opacity: .4;
    text-shadow: none;
    color: #999;
    position: absolute;
	top:5px;
	right: 5px;
}

.mai-mega-menu-column {
    padding-right: 10px;
    padding-left: 10px;
}
.mai-mega-menu-section>a {
    font-size: 1rem;
}

.navbar .navbar-nav .mai-mega-menu-sub-items .dropdown-item {
    padding: 7px 23px;
}

.mai-mega-menu-sub-items .dropdown-item {
    font-size: 1rem;
}

.info{
	margin:15px 0;
}

.info td{
	padding:10px 0 0 10px!important;
	font-size:13px;
	vertical-align: top;
}


.info th{
	font-size:13px;
	vertical-align: top;
}

.bold{
	font-weight: bold;
}

.payment td{
	padding:2px!important;
	vertical-align: middle;
	font-size: 12px;
}

.info input, .info select, .info  textarea{
	padding:3px;
	width: 100%;
}

input[readonly]{
	background: #f5f5f5;
	color: #777!important;
}

.p0{
	padding:0!important;
}

.p5{
	padding:0 5px!important;
}

.info .jsgrid-cell{
	padding:3px 5px!important;
}

.uppercase{
	text-transform:uppercase
}


.form-content label{
	font-size:11px;
}

.form-content h6{
	margin:0;
	font-size:14px;
}

.box{
	border:1px solid #ccc;
	padding:0 10px 10px!important;
	margin-top:-1px;
}

.m-b-14{
	margin-bottom:14px;
}

.no-resize{
	resize:none;
}

.p15{
	padding:15px!important;
}

.text-msg{
	padding:0 15px;
	font-size:13px;
	font-weight:500;
}

input[disabled],input[readonly],select[disabled],select[readonly],textarea[disabled],textarea[readonly]{
	color:#000!important;
	background: #ebebe4;
	border:0!important;
}
.col{
	position:relative;
}

.no-data{
	display:none;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,0.73);
	color:#fff;
	font-size:18px;
	text-align:center;
	line-height:20vh;
	z-index:99;
}

.no-data.show{
	display:block;
}

.text-center{
	text-align: center!important;
}

.modal-title{
	display: inline-block;
	width: 100%;
}

.fulldate{
	width:100%;
	padding:10px;
	background: #fff!important;
}

.fa-prefix{
	height: 41px;
	width: 41px;
	text-align: center;
	line-height: 41px;
	color:#fff;
	position: absolute;
	left:0;
	top:0;
}


.fa-prefix + input{
	height: 41px;
	padding-left: 51px;
	border:1px solid #2196F3 !important;
	outline: none!important;
	z-index: 2;
	width: 100%;
}
.fa-sufix{
	height: 41px;
	width: 41px;
	text-align: center;
	line-height: 41px;
	color:#fff;
	position: absolute;
	right:0;
	top:0;
}


.fa-sufix + input{
	height: 41px;
	padding-left:10px;
	padding-right: 51px;
	border:1px solid #2196F3 !important;
	outline: none!important;
	z-index: 2;
	width: 100%;
}

.input-field select{
	height: 41px;
	padding:3px 10px;
	border:1px solid #2196F3 !important;
	outline: none!important;
	width:100%;
}

.number{
	text-align: right;
}

.ui-autocomplete{
	z-index:9999;
	border:1px solid #ddd!important;
	margin-left:-2px;
}

.stock-item{
	padding:10px!important;
	border-bottom:1px solid #ddd;
	font-size:12px;
	background:#f5f5f5;
}


.stock-item h5, .stock-item span{
	font-size:12px;
	margin:0;
}

.ui-state-active{
	border:0!important;
}
.ui-state-active span{
	color:#fff;
}

.nav-wrapper{
	height: 40px;
	padding-top:5px;
}

.nav-left{
	position: relative;
	padding: 0 15px;
}

.nav-right{
	float: right;
	position: relative;
	padding: 0 15px;
}

.input-group{
	position: relative;
	display: inline-block;
	border:1px solid #ddd;
}

.input-filter{
	min-height: 25px;
	height: 100%;
	color:#000;
    padding: 4px 6px 3px 6px;
	font-size:13px;
	outline: none;
	border:0;
}

.btn-filter{
	height:28px;
	padding:6px 25px;
	font-size: 13px;
	color:#000;
	line-height: 100%;
	background-color:#eee;
	border:1px solid #ddd;
	text-transform: none!important;
	margin-left:5px;
}


.btn-filter:hover{
	background-color: #ddd;
}


.input-filter{
}

.input-filter::-webkit-input-placeholder{
	color:#777;
}
.input-filter::-moz-input-placeholder{
	color:#777;
}
.input-filter:-ms-input-placeholder{
	color:#777;
}
.input-filter:-moz-placeholder{
	color:#777;
}

.input-group-addon {
    padding-top: 7px;
    padding-right: 8px;
    padding-bottom: 2px;
    font-size: 13px;
    line-height: 1;
    color: #777;
    text-align: center;
 }


.input-filter + .input-group-addon{
	position: absolute;
	right: 0;
	top:0;
	bottom: 0;
}


.modal{
	overflow: hidden;
	max-height: 100%;
}

.modal-content{
	max-height: 75vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal{box-shadow: rgb(136, 136, 136) 0px 0px 6px;}

.modal-overlay{
	background: #B1B1B1 !important;
	opacity:.7!important;
}
.modal-title{
    border-bottom: 1px solid #E0E0E0;
}

.modal-footer{
	padding:10px;
	background:#f5f5f5;
	border-top: 1px solid #E0E0E0;
}
.modal-title.blue-grey.darken-1{
	background-color:#F1F1F1!important;
	color:#000;
}

.box-span{
	padding: 3px 12px;
    color: #fff;
    border-radius: 3px;
    font-size:11px;
}

.tab{
	padding:0;
	margin:0;
	list-style-type: none;
}

.tab li{
	float:left;
	padding-right:15px;
}

.tab li a{
	display: block;
	padding:7px 30px;
	text-align: center;
	color:#aaa;
	font-size:11.3px;
	border-bottom: 3px solid transparent;
}

.tab li.active a, .tab li a:hover{
	color:#e05555;
	border-color: #1fc8db;
	cursor: pointer;
}

.btn-filter .fa{
	font-size:12px;
	margin-right: 5px;
}

.img-responsive{
	width: 100%;
}
.img-block{
	display: block;
}

.table{
	width:100%;
}

.loading{
	position:absolute;
	z-index:990;
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding-top:20%;
	background:rgba(255,255,255,.8);
	text-align:center;
	display:none;
}

.show{
	display: block;
}

.bold{
	font-weight: bold;
}

.f13{
	font-family: Arial;
	font-size: 13px!important;
}

.notiv{
	background:#ff1a1a;
	width:20px;
	height:20px;
	position:relative;
	right: 15px;
	bottom: 6px;
	float: right;
	border-radius:10px;
	text-align: center;
	font-family: arial;
	font-size: 13px;
}

#table_audit tr {
    padding:5px;
    border: 4px solid #e6e6e6;
    text-align: center;
}

#table_audit th {
    padding:5px;
    border: 4px solid #e6e6e6;
    text-align: center;
}

#table_audit td {
    padding:5px;
    border: 4px solid #e6e6e6;
    text-align: center;"
}

.btn-tambah{

	width: auto;
	height: auto;
	padding: 2px 10px;
	font-size: 12px;
	background:#ddd;
	font-weight:;
	bottom:0;
}

.btn-tambah:hover{
	background-color: rgba(136, 117, 117, 0.3);
}

.nav-aksi{
	width: 100%;
	height: 40px;
	position: absolute;
	top:140px;
	padding: 5px;
	z-index: 1000;
}
.small{
	height: 21px !important;
}

.bingkai{
	display: block;
	-webkit-margin-start: 2px;
	-webkit-margin-end: 2px;
	-webkit-padding-before: 0.35em;
	-webkit-padding-start: 0.75em;
	-webkit-padding-end: 0.75em;
	-webkit-padding-after: 0.625em;
	min-width: -webkit-min-content;
	border-width: 2px;
	border-style: groove;
	border-color: threedface;
	border-image: initial;
}

.label-bingkai{
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    display: inline-block;
    top: -13px;
    position: relative;
    font-weight: 700;
    background: #fff;
}

.table-form{
	width: 100%;
	margin: 0;
	margin-top: 10px;
	font-size: 12px;
	font-weight: 600;
}

.table-form input{
	border: 1px solid #999;
	height: auto;
}

.simpan{
	width: auto;
	padding: 10px;
	background-color: #0fb8ad;
	color: #fff;
	font-weight: 600;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.container-encar{
	margin-left: 2%;
	margin-right: 2%;
}
